MONGODB_URI=mongodb+srv://rajeevtiwari30305_db_user:Hgvo12qa9S7CJ4aH@razor.euzkwzo.mongodb.net
AUTHORIZATION_SIGNING_SECRET=asdfghjklsdfghjkjhgfdsdfghjhgfdsg
RAZORPAY_KEY_ID=rzp_test_TWgH36jFAXAFYD
RAZORPAY_KEY_SECRET=crjMWWMFKzcp2YdwPYZAQT8E
PORT=4000